/**
* Contents
  *
  *   1. Imports
  *   2. Global Styles
  *   3. Images
  *   4. Cards
  */

/* 1. Imports
-------------------------------------------*/

@import "../../node_modules/bootstrap/scss/bootstrap";

/* 2. Global Styles
-------------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

#main {
  margin: 0 auto 1rem auto;
  padding: 3rem 1.5rem;
  text-align: center;
}

/* 2. Images
-------------------------------------------*/

#github-logo {
  padding-bottom: 2rem;
}

/* 3. Cards
-------------------------------------------*/
.card-columns {
  // display: inline-block;

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }

  .card-header {
    font-size: 1rem;
    font-weight: bold;
    color: #272727;
  }

  .card-img-top {
    cursor: pointer;
  }

  .card-details {
    text-align: start;

    .card-title {
      font-size: 0.9rem;
      color: #484848;
    }

    .card-text {
      font-size: 0.9rem;
      font-weight: bold;
      color: #272727;
    }
  }
}
